.no-border-radius, .no-border-radius *
{
	border-radius: 0px !important;
}

a:hover
{
	text-decoration: none;
}
/* frame css */

.nowrap
{
	white-space: nowrap;
}

/* side bar { */

.sidebar
{
	transition: top 0.2s;
	position: fixed;
	top: 51px;
	bottom: 0px;
	width: inherit;
	background-color: #f8f8f8;
	box-shadow: 0 1px 5px silver;
}

.sidebar .heading
{
	padding: 15px;
}

.sidebar .footer
{
	position: absolute;
	width: 100%;
	bottom: 0px;
	padding: 20px;
	text-align: center;
}

/* } end */


/* end frame css */

.no-border
{
	border: 0 !important;
}

.no-padding
{
	padding: 0px;
}

.no-margin
{
	margin: 0px;
}

.inner-content
{
	padding: 15px;
}

.top-15
{
	margin-top: 15px;
}

.top-25
{
	margin-top: 25px;
}

.table tbody tr td
{
	vertical-align: middle;
}

.dropdown button .glyphicon:first-child:after
{
	content: "\2009";
}

.dropdown-menu li a .glyphicon:first-child:after
{
	content: "\2009";
}

.breadcrumb > li + li:before
{
	content:"\00bb";
	color: inherit;
}
