.no-padding
{
	padding: 0px;
}

.no-margin
{
	margin: 0px;
}

.inner-content
{
	padding: 5px 10px 25px 25px;
}

.top-15
{
	margin-top: 15px;
}

.top-25
{
	margin-top: 25px;
}

#input-table td, #input-table th
{
	vertical-align: middle;
}

.sidebar
{
	background-color: #f5f5f5;
}

@media (min-width: 768px)
{
	.modal.ckeditor .modal-dialog
	{
		width: 50%;
	}
}

.table tbody tr td
{
	vertical-align: middle;
}

.dropdown button .glyphicon:first-child:after
{
	content: "\2009";
}

.dropdown-menu li a .glyphicon:first-child:after
{
	content: "\2009";
}

