.exam-preview
{
	font-family: "Times New Roman";
	font-size: 13pt;
}

.exam-preview .exam-header
{
	padding: 0.5cm 0 0.5cm;
}

.exam-preview .exam-footer
{
	text-align: center;
	width: 100%;
	padding: 0.5cm 0 0.5cm;
}

.exam-preview .exam-body ul.list-question > li
{
	margin-top: 0.3cm;
	list-style-type: none;
}

/* link question */

.exam-preview .exam-body .link table
{
	margin-left: 10%;
	width: 90%;
}

.exam-preview .exam-body .link table td:first-child,
.exam-preview .exam-body .link table th:first-child
{
	width: 30%;
}

.exam-preview .exam-body .link table td:nth-child(2),
.exam-preview .exam-body .link table th:nth-child(2)
{
	width: 20%;
}

.exam-preview .exam-body .link table td,
.exam-preview .exam-body .link table th
{
	vertical-align: top;
	padding: 5px 0px 0px 5px;
}

.exam-preview .exam-body .link table td[answer]:before
{
	content: '.............';
}

.exam-preview.show-answer .exam-body .link table td[answer]:before
{
	content: attr(answer);
	color: red;
	font-weight: bold;
}

/* multiple choice */

.exam-preview .exam-body .multiple-choice .select
{
	margin-top: 0.2cm;
	counter-reset: section;
}

.exam-preview .exam-body .multiple-choice .select .option
{
	display: inline-block;
	vertical-align: top;
}

.exam-preview .exam-body .multiple-choice .select .option:before
{
	counter-increment: section;
	content: ""counter(section, upper-alpha)". ";
}

.exam-preview .exam-body .multiple-choice .select.col-1 > .option
{
	width: 100%;
}

.exam-preview .exam-body .multiple-choice .select.col-2 > .option
{
	width: 50%;
}

.exam-preview .exam-body .multiple-choice .select.col-4 > .option
{
	width: 25%;
}

.exam-preview.show-answer .exam-body .multiple-choice .select .option[answer="1"]:after
{
	content: '\02714';
	color: green;
	font-weight: bold;
}

.exam-preview.show-answer .exam-body .multiple-choice .select .option[answer="1"]:before
{
	color: red;
	font-weight: bold;
}

/* fill */

.exam-preview .exam-body .fill
{
	counter-reset: fsection;
}

.exam-preview .exam-body .fill .data-fill
{
	display: none;
}

.exam-preview.show-answer .exam-body .fill .data-fill
{
	font-weight: bold;
	display: inline;
}

.exam-preview.show-answer .exam-body .fill [ellipsis]
{
	display: none;
}

.exam-preview .exam-body .fill [ellipsis]:before
{
	counter-increment: fsection;
	content: "[" counter(fsection) "] ";
	font-style: normal;
	color: #555;
}

.exam-preview.show-answer .exam-body .fill [data-fill]
{
	color: red;
	font-weight: bold;
	font-style: italic;
}

/* table answer */

.exam-wrap .table-answer
{
	padding: 25px 0px 0px 0.5cm;
	counter-reset: section;
	/*box-shadow: inset 0 -10px 5px -10px #C0C0C0;*/
	/*border-bottom: 1px solid #C0C0C0;*/
}

.exam-wrap .table-answer .exam-title
{
	font-weight: bold;
	margin-top: 5px;
}

.exam-wrap .table-answer .exam-title:before
{
	content: '\025CF';
}

.exam-wrap .table-answer .index:before
{
	counter-increment: section;
	content: "Câu " counter(section, decimal-leading-zero) " :";
	font-weight: bold;
}

.exam-wrap .table-answer .index
{
	width: 20%;
	display: inline-block;
	padding-left: 5px;
}
