.exam-wrap
{
	font-family: "Times New Roman";
	font-size: 13pt;
}

.exam-wrap .header
{
	padding: 0.5cm 0 0.5cm;
}

.exam-wrap .footer
{
	text-align: center;
	width: 100%;
	padding: 0.5cm 0 0.5cm;
}

.exam-wrap .question-preview ul > li
{
	margin-top: 0.3cm;
	list-style-type: none;
}

/* link question */

.exam-wrap .question-preview .link .link-table
{
	width: 90%;
	margin-left: 10%;
}

.exam-wrap .question-preview .link .link-table td:first-child, .question-preview .link-table th:first-child
{
	width: 30%;
}

.exam-wrap .question-preview .link .link-table td, .question-preview .link-table th
{
	vertical-align: top;
	padding-top: 5px;
}

.exam-wrap .question-preview .link .link-table td[answer]:before
{
	content: '.....';
}

.exam-wrap.show-answer .question-preview .link .link-table td[answer]:before
{
	content: attr(answer);
	color: red;
	font-weight: bold;
}

/* multiple choice */

.exam-wrap .question-preview .multiple-choice .list-option
{
	counter-reset: section;
}

.exam-wrap .question-preview .multiple-choice .list-option .option:before
{
	counter-increment: section;
	content: ""counter(section, upper-alpha)". ";
}

.exam-wrap .question-preview .multiple-choice .list-option .option
{
	display: inline-block;
	vertical-align: top;
}

.exam-wrap .question-preview .multiple-choice .list-option
{
	margin-top: 0.2cm;
}

.exam-wrap .question-preview .multiple-choice .list-option.col-2 > .option
{
	width: 50%;
}

.exam-wrap .question-preview .multiple-choice .list-option.col-4 > .option
{
	width: 25%;
}

.exam-wrap .question-preview .multiple-choice .list-option.col-10 > .option
{
	width: 100%;
}

.exam-wrap.show-answer .question-preview .multiple-choice .list-option .option[answer="1"]:before
{
	color: red;
	font-weight: bold;
}

.exam-wrap.show-answer .question-preview .multiple-choice .list-option .option[answer="1"]:after
{
	content: '\02714';
	color: green;
	font-weight: bold;
}

/* fill */
.exam-wrap .question-preview .fill
{
	counter-reset: fsection;
}

.exam-wrap .question-preview .fill [data-fill]:before
{
	counter-increment: fsection;
	content: "["counter(fsection)"] ";
	font-style: normal;
	color: black;
}

.exam-wrap.show-answer .question-preview .fill [data-fill]
{
	color: red;
	font-weight: bold;
	font-style: italic;
}