.question-preview
{
	font-family: "Times New Roman";
	font-size: 13pt;
	size: A4;
}

.question-preview ul > li
{
	margin-top: 15px;
	list-style-type: none;

}

.question-preview .link-table
{
	width: 90%;
	margin-left: 10%;
}

.question-preview .link-table td:first-child, .question-preview .link-table th:first-child
{
	width: 30%;
}

.question-preview .link-table td, .question-preview .link-table th
{
	vertical-align: top;
	padding-top: 5px;
}

ol.multiple-choice.col-2 li
{
	width: 50%;
	float: left;
}

ol.multiple-choice.col-4 li
{
	width: 25%;
	float: left;
}
